<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.five.cloud_disk.mapper.DialogueMapper">
  <resultMap id="BaseResultMap" type="com.oracle.five.cloud_disk.beans.Dialogue">
    <id column="DIALOGUE_ID" jdbcType="INTEGER" property="dialogueId" />
    <result column="HOST_USER_ID" jdbcType="INTEGER" property="hostUser.userId" />
    <result column="TO_USER_ID" jdbcType="INTEGER" property="toUser.userId" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from DIALOGUE
    where DIALOGUE_ID = #{dialogueId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.five.cloud_disk.beans.Dialogue">
    insert into DIALOGUE (DIALOGUE_ID, HOST_USER_ID, TO_USER_ID
      )
    values (#{dialogueId,jdbcType=INTEGER}, #{hostUser.userId,jdbcType=INTEGER}, #{toUser.userId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oracle.five.cloud_disk.beans.Dialogue">
    update DIALOGUE
    set HOST_USER_ID = #{hostUser.userId,jdbcType=INTEGER},
      TO_USER_ID = #{toUser.userId,jdbcType=INTEGER}
    where DIALOGUE_ID = #{dialogueId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select DIALOGUE_ID, HOST_USER_ID, TO_USER_ID
    from DIALOGUE
    where DIALOGUE_ID = #{dialogueId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select DIALOGUE_ID, HOST_USER_ID, TO_USER_ID
    from DIALOGUE
  </select>
  <select id="getDialogueList" resultMap="BaseResultMap">
  	select * from DIALOGUE WHERE HOST_USER_ID=#{userid}
  </select>
</mapper>