<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.five.cloud_disk.mapper.RelationshipMapper">
  <resultMap id="BaseResultMap" type="com.oracle.five.cloud_disk.beans.Relationship">
    <id column="RELATIONSHIP_ID" jdbcType="INTEGER" property="relationshipId" />
    <result column="HOST_USER_ID" jdbcType="INTEGER" property="hostUser.userId" />
    <result column="FRIEND_USER_ID" jdbcType="INTEGER" property="friendUser.userId" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from RELATIONSHIP
    where RELATIONSHIP_ID = #{relationshipId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.oracle.five.cloud_disk.beans.Relationship"
   useGeneratedKeys="true" keyProperty="relationshipId">
    insert into RELATIONSHIP (RELATIONSHIP_ID, HOST_USER_ID, FRIEND_USER_ID, 
      REMARK, ADD_TIME)
    values (#{relationshipId,jdbcType=INTEGER}, #{hostUser.userId,jdbcType=INTEGER}, #{friendUser.userId,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{addTime,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.oracle.five.cloud_disk.beans.Relationship">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Aug 05 14:04:49 CST 2017.
    -->
    update RELATIONSHIP
    set HOST_USER_ID = #{hostUser.userId,jdbcType=INTEGER},
      FRIEND_USER_ID = #{friendUser.userId,jdbcType=INTEGER},
      REMARK = #{remark,jdbcType=VARCHAR},
      ADD_TIME = #{addTime,jdbcType=TIMESTAMP}
    where RELATIONSHIP_ID = #{relationshipId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
      This element was generated on Sat Aug 05 14:04:49 CST 2017.
    -->
    select RELATIONSHIP_ID, HOST_USER_ID, FRIEND_USER_ID, REMARK, ADD_TIME
    from RELATIONSHIP
    where RELATIONSHIP_ID = #{relationshipId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select RELATIONSHIP_ID, HOST_USER_ID, FRIEND_USER_ID, REMARK, ADD_TIME
    from RELATIONSHIP
  </select>
  <select id="getBothRelate" resultType="java.lang.Boolean">
  	select (COUNT(*)>0) AS RESULT FROM RELATIONSHIP
  	 WHERE HOST_USER_ID=#{param2} and FRIEND_USER_ID=#{param1}
  </select>
  <resultMap id="getFriendListResultMap" type="com.oracle.five.cloud_disk.beans.Relationship">
    <id column="RELATIONSHIP_ID" jdbcType="INTEGER" property="relationshipId" />
    <result column="REMARK" jdbcType="VARCHAR" property="remark" />
    <result column="ADD_TIME" jdbcType="TIMESTAMP" property="addTime" />
    <result column="HOST_USER_ID" jdbcType="INTEGER" property="hostUser.userId" />
    <association property="friendUser" javaType="com.oracle.five.cloud_disk.beans.User">
    	<id column="FRIEND_USER_ID" javaType="java.lang.Integer" property="userId"/>
    	<result column="FRIEND_NICKNAME" javaType="java.lang.String" property="nickname" />
    	<result column="FRIEND_HEAD_IMG" javaType="java.lang.String" property="headImg" />
    	<result column="FRIEND_FILE_ID" javaType="java.lang.Integer" property="rootFile.fileId" />
    </association>
  </resultMap>
  <select id="getFriendList" resultMap="getFriendListResultMap"  >
  		select r.RELATIONSHIP_ID as RELATIONSHIP_ID,r.HOST_USER_ID as HOST_USER_ID,r.REMARK as REMARK,r.ADD_TIME as ADD_TIME 
  		, u.USER_ID as FRIEND_USER_ID , u.NICKNAME AS FRIEND_NICKNAME , u.HEAD_IMG AS FRIEND_HEAD_IMG , u.FILE_ID AS FRIEND_FILE_ID
  		from RELATIONSHIP r 
  		left join USERS u on r.FRIEND_USER_ID=u.USER_ID 
  		WHERE HOST_USER_ID=#{userid}
  </select>
  <update id="addRemark" parameterType="com.oracle.five.cloud_disk.beans.Relationship" >
  		update RELATIONSHIP SET REMARK=#{remark} WHERE RELATIONSHIP_ID=#{relationshipId}
  </update>
</mapper>

















